.contractor-list {
  width: 100%;
  .text-description{
    text-align: center;
  }
  .contractor-list-content {
    background: #ffffff;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}
