<div class="contractor-list container">
  <div class="row">
    <div class="text-description col-sm-12">
      Contractors for {{client}}
    </div>    
  </div>
  <div class="contractor-list-content">
    <app-contractor-search></app-contractor-search>    
    <section id="contactor-list-header">
      <app-contractor-list-header></app-contractor-list-header>
    </section>
    <section>
      <div class="py-1">
        <app-contractor-list-item></app-contractor-list-item>
      </div>
      <div class="py-1">
        <app-contractor-list-item></app-contractor-list-item>
      </div>
    </section>
  </div>
</div>
