.contractor-list-item {
  .list-header {
    background-color: #f9f9f9;
    .status-contractor {
      background-color: rgba(54, 207, 130, 0.18);
      border-radius: 20px;
      color: #36CF82;
      font-family: "Aileron";
      font-size: 10px;
      font-weight: bold;
    }
  }
}
