.contractor-search {
  .text-input-seach {
    height: 58px;
  }
  .text-filter {
    font-family: Aileron;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    height: 58px;
  }
  .text-new-hire {
    height: 58px;
    font-family: Aileron;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
}
